<suite name="Test-Suite" parallel="tests">
    <test name="TestParallelTest">
        <classes>
            <class name="tests.ParallelTest"/>
        </classes>
    </test>
    <test name="TestCookies">
        <classes>
            <class name="tests.TestCookies"/>
        </classes>
    </test>
</suite>
