<suite name="Test-Suite" parallel="methods" thread-count="2">
    <test name="TestMainTest">
        <classes>
            <class name="tests.TestMain"/>
        </classes>
    </test>
    <test name="TestCookies">
        <classes>
            <class name="tests.TestCookies"/>
        </classes>
    </test>
</suite>
